* {
  font-family: 'Roboto Mono', monospace;
}

.body::-webkit-scrollbar {
  display: none;
}


body {
  height: 100vh;
  background-color: #131313;
  background-size: cover;
  background-position: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  @media screen and (min-width: 768px) {
    margin: 10vh;
  }
}

span {
  display: inline-block;
}

.heroBG {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: 
    linear-gradient(to bottom, rgba(0,0,0,0), rgba(19,19,19,19)),
    url('./images/hero.jpg');
}

.meIMG {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image:
    url('./images/me.jpg');
}

.Toastify__progress-bar-theme--dark {
  background-color: #04FE94;
  color: #04FE94
}

.not_copy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
